{% extends 'base.html' %}
{% block content %}
        <h2 style="text-align: center; color:#ef8590;">Résultats</h2>
        
        <div class="document1" title="title_block">
            <h3 style="text-align: center;color:#f1a0a8;">Sac seconde main provenant de vestiaire collective</h3>
            {%for sac in results1%}
                <p style="color:#f1a0a8;">{{sac.modele}}<br>
                    Image : {{sac.image}}<br>
                    {{sac.marque}}<br>
                    {{sac.couleur}}<br>
                    {{sac.largeur}}<br>
                    {{sac.hauteur}}<br>
                    {{sac.profondeur}}
                   <p>prix:{{sac.prix}}
                   </p>
                </p>
            {% endfor %}
        </div>
        
        <div class="document2" title="title_block">
            <h3 style="text-align: center;color:#f1a0a8;">Sac neuf provenant de Mytheresa</h3>
            {%for bag in results2%}
                <p style="color:#f1a0a8;">Modele:{{bag.modele}}<br>
                    Image:{{bag.image}}<br>
                    Designer :{{bag.marque}}<br>
                    {{bag.couleur}}<br>
                    {{bag.largeur}}<br>
                    {{bag.hauteur}}<br>
                    {{bag.profondeur}}
                   <p>prix:{{bag.prix}}
                   </p>
                </p>
            {% endfor %}
        </div>
{% endblock %}
